.navbar {
    background-color: #041725;
}

.jumbotron {
    padding-top: 6rem;
    background-color: #041725;
}

#projects {
    background-color: #041725;
}

footer {
    background-color: #041725;
}

section {
    padding-top: 5rem;
}